/* MOBILE VERSION CSS */

section {
    margin: auto;
    margin-left:20px;
    margin-right: 20px;
    margin-bottom:0px;
    margin-top: 0px;
}

#nav_desktop {
    display: none;
}

#nav_mobile header {
    background-color: #fefefe;
}

#nav_mobile #hamburger {
    position: absolute;
    top: 50px;
    right: 20px;
    width: 50px;
    top: 20px;
    max-width: 8%;
}

#nav_mobile nav ul {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
    background-color: #fefefe;
}

.hidden {
    right: 5000px;
}

.showing {
    right: 20px;
    top: 110px;
}

#nav_mobile nav li a {
    text-decoration: none;
    display: block;
    padding: 20px 150px;
    /* font-family: 'Karla', sans-serif; */
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #222222;
    text-align: center;
    border-bottom:solid #fefefe 2px;
    background-color: #F5F5F5;
}

#nav_mobile nav a:hover {
    color: #C4C4C4;
}

#logo1{
    color: #222222;
    font-weight: bold;
    /* font-family: 'Playfair Display', serif; */
    font-size: 40px;
    margin: 0px;
    padding: 20px;
    padding-top: 35px;
    padding-bottom: 30px;
    text-decoration: none;
    text-align: center;
    display: block;
    border-bottom: solid #F5F5F5;
}

/* #travelocitypost #logo1{
    background-color: #F5F5F5;
}*/

#intro {
    /* background-color: #F5F5F5; */
    padding-top: 100px;
    padding-bottom: 100px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#intro img {
    padding-top:50px;
    max-width: 50%;
    margin: auto;
}

#home h1 {
    text-align: center;
    color: #222222;
    margin: 0px;
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Playfair Display-black', serif;
    font-weight: 900;
    padding-top: 20px;
    color: #fefefe;
    -webkit-text-stroke: 1px #767676;
    font-size:50px;
}

#intro p {
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    color: #222222;
    font-family: 'Playfair Display-black', serif;
    font-size: 20px;
    line-height: 170%;
    font-weight: 900;
    padding-bottom:0;
    
}

#designdavis p{
    
    font-weight:400;
    font-size:20px;
    color: #767676;
}

#casestudies img {
    max-width: 80%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

#casestudies {

    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width:350px;
    /* padding-top:50px; */
    padding-bottom: 50px;
    gap: 70px;
}

#casestudies a {
    color: #222222;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    align-items: left;
    text-decoration: none;
    font-weight: bold;

    
}

#casestudies a:hover {
    color: #C4C4C4;
}

#casestudies p {
    text-align: left;
    /* color: #222222;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 130%;
    margin: 0px; */
    padding-top: 10px;
    color: #767676;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    margin: 0px;
    line-height: 150%;
}

#vp{
    padding-top: 20px;
    text-align: left;
}


#vp a{
    display: inline-block;
    border: 2px solid #767676;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    margin:0;
    text-align: left;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Lato', sans-serif;
    color:#767676;
}

#vp a:hover{
    display: inline-block;
    border: 2px solid #767676;
    background-color: #767676;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    margin:0;
    color: #fefefe;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Lato', sans-serif;
}

footer {
    text-align: center;
    /* background-color: #F5F5F5; */
    margin: 0px;
    padding-bottom: 50px;


}

footer p {
    margin: 0px;
    padding-bottom: 20px;
    font-weight: bold;
    flex-direction: row;
    font-size:5 0px;
    font-size:30px;
    /* font-family: 'Karla', sans-serif; */
    font-family: 'Lato', sans-serif;
    
}

footer #connecticon{
    display: flex;
    flex-direction: row;
    gap:20px;
    justify-content: center;

   
}

footer #connecticon i{
    margin:0px;
    padding:0px;
    
   
}

footer a {
    text-decoration: none;
    color: #222222;
    
    
    
    
}

a:hover {
    color: #C4C4C4;
}

#aboutintro h1 {
    text-align: left;
    color: #222222;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    padding: 0px;
    font-size: 30px;
    max-width: 600px;
}

#aboutintro p {
    color: #222222;
    font-family: 'Poppins', sans-serif;
    line-height: 170%;
    max-width: 600px;
}

#aboutintro {
    padding: 50px 20px;
    /* background-color: #F5F5F5; */
    display: flex;
    flex-direction: column;
    margin: 0px;
}

#aboutintro img {
    max-width: 70%;
    /* padding-left: 20px;
    padding-right: 20px; */
    margin: auto;
    padding-top: 20px;
}

#about #why, #interests{
    padding-bottom:30px;
}

#connect #connecticon i{
    margin:0px; 
    font-size:30px;
}

#connect #connecticon{
    margin-top:10px;
    gap:20px;
}

section {
    padding-bottom: 50px;
    padding-top: 50px;
}

section h2 {
    padding-top: 20px;
    text-align: left;
    color: #222222;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    padding: 0px;
    /* padding-left: 20px;
    padding-right: 20px; */
    font-size: 40px;
}

section h3 {
    text-align: left;
    color: #222222;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    padding: 0px;
    font-size: 20px;
    padding-top: 10px;
    /* padding-left: 20px;
    padding-right: 20px; */
    /* text-decoration: underline; */
}

section h4 {
    text-align: left;
    color: #222222;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Karla', sans-serif; */
    font-weight: bolder;
    padding: 0px;
    font-size: 15px;
    padding-top: 20px;
    /* padding-left: 20px;
    padding-right: 20px; */
}

section h5 {
    text-align: center;
    color: #222222;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    padding: 0px;
    font-size: 10px;
    padding-top: 0px;
    /* padding-left: 20px;
    padding-right: 20px; */
}

section p {
    /* padding-left: 20px;
    padding-right: 20px; */
    color: #222222;
    font-family: 'Lato', sans-serif;
    /* line-height: 150%; */
    line-height: 170%;
    font-size: 17px;
    /* text-align: justify; */
    font-weight: normal;
    margin-top:10px;
    margin-bottom:10px;
}

section ul li {
    font-weight: normal;
    color: #222222;
    font-family: 'Lato', sans-serif;
    line-height: 170%;
    font-size: 17px;
    padding-left: 5px;
    padding-right: 20px;
}

section ol li {
    font-weight: normal;
    color: #222222;
    font-family: 'Lato', sans-serif;
    line-height: 170%;
    font-size: 17px;
    /* text-align: justify; */
    padding-left: 10px;
    padding-right: 20px;
}

#hero {
    max-width: 100%;
}

img {
    max-width: 100%;
    display: flex;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

video {
    display: flex;
    margin: auto;
    padding: 0px;
    max-width: 90%;
    height: 300px;
    margin-bottom: 10px;
}

iframe {
    display: flex;
    margin: auto;
    padding: 0px;
    max-width: 50%;
    height: 500px;
    margin-bottom: 20px;
    margin-top: 20px;
}

section a {
    color: #222222;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    font-weight: 700;
}

#connecticon i {
    margin-top: 20px;
    color: #222222;
    margin-left: 20px;
    font-size: 200%;
}

#connecticon {
    display: flex;
    flex-direction: row;
}

#connecticon i:hover {
    color: #C4C4C4;
}

#travelocity_features img{
    max-width: 50%;
}

#travelocity_features video{
    height:400px;
    
}
 

#TJfeatures {
    display: flex;
    flex-direction: column;
    padding: 0px;
    align-items:flex-start;
    margin: auto;
    max-width: 900px;
    padding-top:20px;
    padding-bottom:20px;
    gap:20px;
}

#TJfeatures img {
    max-width: 70%;
}

#weguidefeatures img {
    max-width: 60%;
}



/* DESKTOP VERSION CSS */

@media only screen and (min-width: 800px) {
    body{
        margin:0px;
    }

    #hamburger {
        visibility: hidden;
    }
    #nav_mobile {
        display: none;
    }
    #nav_desktop {
        margin: auto;
        display: block;
    }

    #logo1{
        font-size: 40px;
        /* font-family: 'Playfair Display', serif; */
        margin: 0px;
        padding: 0px;
        text-align: left;
        color: #222222;
        background-color: #fefefe;
        border-bottom: none;
    }

    #logo1:hover{
        color: #767676;
    }
    
    #nav_desktop header {
        margin: 0px;
        padding: 30px 50px;
    }
    
    #nav_desktop nav {
        margin: 0px;
        position: absolute;
        right: 50px;
        top: 20px;
    }
    #nav_desktop nav ul {
        list-style-type: none;
        font-size: 20px;
        font-weight: bold;
        display: flex;
        flex-direction: row;
        justify-content: right;
        gap: 50px;
        /* font-family: 'Karla', sans-serif; */
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        
    }

    #nav_desktop nav ul li a {
        text-decoration: none;
        color: #222222;
        text-align: center;
        /* font-family: 'Karla', sans-serif; */
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        
    }
    #home #button1 {
        text-decoration: none;
        color: #767676;
        text-align: center;
        /* font-family: 'Karla', sans-serif; */
        font-family: 'Lato', sans-serif;
        font-weight: 900;
    }

    #nav_desktop nav ul li a:hover {
        color: #767676;
    }
    #intro {
        /* padding-top: 110px; */
        padding-top: 150px;
        padding-bottom: 0px;
        background-color: #fefefe;
    }
    #intro img {
        padding-top:0px;
        max-width: 20%;
        padding-bottom: 10px;
    }

    #intro p {
        max-width: 900px;
        text-align: center;
        color: #222222;
        font-family: 'Playfair Display-black', serif;
        font-weight: 700;
        /* line-height: 1.3em; */
        line-height: 40px;
        font-size: 30px;
        margin: auto;
        padding:10px;
    }

    #home h1 {
        padding: 20px;
        font-size: 90px;
        margin: 0px;
        font-family: 'Playfair Display-black', serif;
        color: #fefefe;
        -webkit-text-stroke: 2px #767676;
    }

    /* div .hichn {
        display: none;
      }
      
    div:hover .hieng {
        display: none;
      }
      
    div:hover .hichn {
        display: block;
    } */

    #designdavis p{
        font-weight:400;
        font-size:30px;
        color: #767676;
        padding-top: 50px;
    }

    #intro #connecticon{
        margin: auto;
        gap:20px;
        
    }

    #intro #connecticon i{
        color: #767676;
    }

    #intro #connecticon a{
        color: #767676;
        font-size: 20px;
    }

    #downarrow{
        margin-top: 150px;
        
    }

    #downarrow:hover{
        transform: scale(1.1);
    }


    /* #casestudies img{
        padding-bottom: 0px;
        
    } */

    #home #traderjoes, #library,
    #travelocity,#weguide {
        /* display: grid;
        grid-template-columns: 1fr 1fr; */
        display:flex;
        text-align: center;
        gap:150px;
        /* padding-top:65px;
        padding-bottom:65px; */
        padding-top:50px;
        padding-bottom:50px;
    }
    
    #homehero{
        display: block;
        padding: 0px;
        margin-left:50px;
        margin-right:50px;
        align-self: center;
        transition: 0.3s ease;
    }

    #homehero img{
       max-width:130%;
       
        
    }

    #homehero:hover{
        transition: 0.3s ease;
        transform: scale(1.1);
    }

    #casestudies {
        margin: auto;
        max-width: 1000px;
        padding-top:100px;
        padding-bottom:0px;
    }

    .full-width {
        width: 100vw;
        margin-left: 50%;
        transform: translate3d(-50%, 0, 0);
    }

    .full-width img{
        max-width: 90%;
    }




    #traderjoesa, #weguidea, #travelocitya, #librarya{
        align-self: center;
        
    }

    #traderjoesa a, #weguidea a, #travelocitya a, #librarya a{
        text-align: left;
        color: #222222;
        font-family: 'Playfair Display', serif;
        /* font-size: 35px; */
        font-size: 45px;
        margin: 0px;
        margin-bottom: 20px;
        text-decoration: none;
        font-weight: 700;
        line-height: 40px;
        display: block;
        
    }

    /* #traderjoesa img, #weguidea img, #travelocitya img, #librarya img{
        padding-top:20px;
        margin: 0;
    } */

    #casestudies a:hover {
        color: #C4C4C4;
    }
    #casestudies p {
        text-align: left;
        color: #767676;
        /* font-family: 'Open Sans', sans-serif; */
        font-family: 'Lato', sans-serif;
        font-size: 20px;
        margin: 0px;
        line-height: 30px;
        font-weight: 400;
    }
    
    #vp{
        padding-top: 20px;
        text-align: left;
    }
    

    #vp a{
        display: inline-block;
        border: 2px solid #767676;
        padding: 0px 10px;
        border-radius: 10px;
        font-size: 15px;
        font-weight: bold;
        margin:0;
        text-align: left;
        /* font-family: 'Open Sans', sans-serif; */
        font-family: 'Lato', sans-serif;
        color:#767676;
    }

    #vp a:hover{
        display: inline-block;
        border: 2px solid #767676;
        background-color: #767676;
        padding: 0px 10px;
        border-radius: 10px;
        font-size: 15px;
        font-weight: bold;
        margin:0;
        color: #fefefe;
        /* font-family: 'Open Sans', sans-serif; */
        font-family: 'Lato', sans-serif;
    }

    /* #vp i{
        
        padding-left:20px;
        font-size: 30px;
        align-items:  center;
        
        
        color:#767676;
    } */

   

    a:hover {
        color: #C4C4C4;
    }
    
    #about #button2 {
        text-decoration: none;
        color: #767676;
        text-align: center;
        /* font-family: 'Karla', sans-serif; */
        font-family: 'Lato', sans-serif;
        font-weight: bold;
    }
    
    #aboutintro {
        padding-top: 100px;
        padding-bottom: 80px;
        width: 1000px;
        margin: auto;
    }
    #aboutintro2 {
        display: flex;
        flex-direction: row;
        gap: 50px;
        /* width: 1000px;
        margin: auto; */
    }
    #aboutintro img {
        padding: 0px;
        margin: 0px;
        max-width: 30%;
    }
    #aboutintro h1 {
        text-align: left;
        color: #222222;
        margin: 0px;
        font-family: 'Poppins', sans-serif;
        font-weight: bolder;
        padding: 0px;
        font-size: 40px;
        width: 700px;
    }
    #aboutintro p {
        color: #222222;
        font-family: 'Poppins', sans-serif;
        line-height: 130%;
        font-size: 20px;
        padding: 0px;
        width: 500px;
    }
    
    section {
        text-align: left;
        color: #222222;
        margin: 0px;
        font-family: 'Poppins', sans-serif;
        font-weight: bolder;
        padding-top: 50px;
        font-size: 30px;
        /* max-width:1000px; */
        margin: auto;
        width:70%
        
    }

    section h3 {
        text-align: left;
        color: #222222;
        margin: 0px;
        font-family: 'Poppins', sans-serif;
        font-weight: bolder;
        padding: 0px;
        font-size: 30px;
        padding-top: 20px;
        /* text-decoration: underline; */
    }
    section h4 {
        text-align: left;
        color: #222222;
        margin: 0px;
        font-family: 'Poppins', sans-serif;
        font-weight: bolder;
        padding: 0px;
        font-size: 20px;
        padding-top: 20px;
    }

    section h5 {
        color: #222222;
        font-family: 'Lato', sans-serif;
        line-height: 170%;
        font-size: 17px;
        padding: 0px;
        margin: 0px;
        text-align:center;
        font-weight: normal;
    }

    section p {
        color: #222222;
        font-family: 'Lato', sans-serif;
        line-height: 170%;
        font-size: 20px;
        padding: 0px;
        text-align: left;
        margin-top:15px;
        margin-bottom:15px;
    }
    section h2 {
        padding: 0px;
        /* padding-top: 40px; */
        margin: 0px;
    }

    section ul,
    ol li {
        font-weight: normal;
        color: #222222;
        font-family: 'Lato', sans-serif;
        line-height: 170%;
        font-size: 20px;
        text-align: justify;
    }
    section ul li {
        font-weight: normal;
        color: #222222;
        font-family: 'Lato', sans-serif;
        line-height: 170%;
        font-size: 20px;
        text-align: justify;
    }
    section ol li {
        font-weight: normal;
        color: #222222;
        font-family: 'Lato', sans-serif;
        line-height: 170%;
        font-size: 20px;
        text-align: justify;
        padding-left: 10px;
    }
    #hero {
        max-width: 100%;
        margin: auto;
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
    }




    #travelocitypage a{
        color:#00477F;
    }

    #travelocitypage a:hover{
        color:#5aa3d6;
    }

    #travelocity_features img{
        max-width: 27%;
        
    }

    .row {
        max-width: 90%;
        margin: auto;
        /* background-color: pink; */
        display: grid;
        grid-template-columns: 1fr 0.75fr;
        align-items: flex-end;
        /* justify-content: space-around; */
    }

    #travelocity_features video{
        height:500px;
        
    }

    #weguidefeatures img {
        max-width: 25%;
    }
    








/* 
    #connecticon i {
        margin-top: 20px;
        color: #222222;
        margin-left: 0px;
        font-size: 30px;
    }
    #connecticon {
        
        gap: 20px;
    }
    #connecticon i:hover {
        color: #C4C4C4;
    } */
    
    iframe {
        display: flex;
        margin: auto;
        padding: 0px;
        max-width: 100%;
        height: 500px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    section a {
        color: #222222;
        font-family: 'Lato', sans-serif;
        text-decoration: none;
        font-weight: 700;
    }

    footer p {
        margin: 0px;
        padding-bottom: 20px;
        /* font-family: 'Karla', sans-serif; */
        font-family: 'Lato', sans-serif;
        font-size: 30px;
    }

    #infobar{
        display: flex;
        flex-direction:row;
        justify-content: space-between; 
    }

    #infobar p{
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: left;
    }

    #infobarTJ{
        display:grid;
        grid-template-columns: 2fr 1fr 0.75fr 1fr;
        gap:50px;
    }

    #userpersona{
        display: flex;
        flex-direction:row;
    }

    html{
        scroll-behavior: smooth;
    }


    /* html{
        scroll-behavior: smooth;
    }

    .topbutton{
        position: fixed;
        bottom: 100px;
        right: 70px;
        font-size: 30px;
    }

    .fa-chevron-up{
        color:#222222;
        
    }

    .fa-chevron-up:hover{
        color: #C4C4C4;
    } */

    /* #tjquotes{
        display: flex;
        flex-direction:row;

    } */

    /* .grid-container{
        display:grid;
        grid-template-columns: 5fr 1fr;
        align-items: center;
        row-gap:0px;
        
    } */

    #twoimages{
        display: flex;
        max-width: 50%;
        max-height: 100%;
        gap:20px;
        
    }

    #TJfeatures {
        display: flex;
        flex-direction: row;
        padding: 0px;
        align-items: center;
        margin: auto;
        max-width: 900px;
        padding-top:50px;
        padding-bottom:50px;
        gap:100px;
    }

    #TJfeatures img {
        max-width: 30%;
    }

    #TJpainpoints {
        display:grid;
        grid-template-columns: 0.05fr 0.5fr 3fr;
        gap:50px;
    }

    #Travelocity_painpoints{
        display:grid;
        grid-template-columns: 0.05fr 0.7fr 3fr;
        gap:50px;
    }

    #oasispainpoints {
        display:grid;
        grid-template-columns: 0.05fr 1.5fr 3fr;
        gap:50px;
    }



   
}