/* MOBILE VERSION CSS */

/* #mainbody {
    margin: auto;
    margin-left:20px;
    margin-right: 20px;
    margin-bottom:50px;
    margin-top: 0px;
} */

.hidden {
    display: none;
}

.showing {
    display: block;
    
}

#nav_mobile #hamburger {
    
    position: absolute;
    top: 50px;
    right: 20px;
    top: 20px;
    max-width: 8%;
}

#openImg{
    background-color: #fff;
    position: fixed;
    top:0%;
    left:0%;
    z-index: 20;
    width:100%;
    height:100%;
    
  }



  #nav_mobile2 header {
    background-color: #fff;
    
    
}

#nav_mobile2 #closeBtn {
    position: absolute;
    top: 50px;
    right: 20px;
    top: 20px;
    max-width: 8%;
}

#hiddenmobile{
    
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#hiddenmobile a{
    text-decoration: none;
    color: #141414;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    padding:20px;
    font-weight: 400;

}

#hiddenmobile a:hover{
    color: #999999;
}
  
  
html{
    scroll-behavior: smooth;
}

#mainbody{
    margin:0;
    
}
#nav_desktop {
    display: none;
}

#logo1{
    display:inline-block;
    color: #222222;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin: 0px;
    padding: 20px;
    padding-top: 35px;
    padding-bottom: 30px;
    text-decoration: none;
    /* font-weight: 500; */
    font-weight: 400;
    /* display: block; */
    line-height: 40px;
    color: #141414; 
}


#intro {
    padding-top: 50px;
    padding-bottom: 100px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#intro img {
    padding-top:30px;
    margin: auto;
    /* max-width: 280px; */
    max-width: 250px;
}

#home h1 {
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 400;
    margin:0;
}

#intro p {
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    color: #222222;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    padding-bottom:0;
}

#designdavis p{
    font-weight:400;
    /* font-size:18px; */
    font-size:18px;
    color: #999999;
    margin:0;
}

#downarrow{
    margin-top: 100px;
    text-align: center;
    margin-left:auto;
    margin-right:auto; 
}

#downarrow a{
    text-decoration: none;
}

#downarrow p{
    font-size: 20px;
    margin:0;
    letter-spacing: 0;
    color: #5D93EF;
}

#downarrow i{
    font-size: 20px;
    color: #5D93EF;
}

#downarrow:hover{
    transform: scale(1.1);
}

#casestudiessection{
    width:90%;
    margin:auto;
    
}

#casestudies img {
    max-width: 90%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 30px;
}

#casestudies {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 50px;
    
    
}

#casestudies a {
    text-align: left;
    color: #222222;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    margin: 0px;
    margin-bottom: 15px;
    text-decoration: none;
    font-weight: 500;
    line-height: 40px;
    display: block;

    
}

#casestudies a:hover {
    color: #999;
}

#casestudies p {
    text-align: left;
    color: #141414;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0px;
    line-height: 30px;
    font-weight: 400;
}

#vp a{
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    margin:0;
    text-align: left;
    letter-spacing: 0.02em;
    font-family: 'Open Sans', sans-serif;
    color:#5D93EF;
    font-weight: 700;
    
}  

#vp a:hover{
    color: #999;;
}

#vp{
    padding-top: 20px;
    text-align: left;
}

section {
    margin: auto;
    margin-left:20px;
    margin-right: 20px;
    margin-bottom:50px;
    margin-top: 0px;
}

section h2 {
    padding: 0px;
    margin: 0px;
}

section h3 {
    text-align: left;
    color: #141414;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    /* font-weight: 400; */
    padding: 0px;
    font-size: 32px;
    line-height: 40px;
}

section h4, #addbackground1 h4{
    text-align: left;
    color: #141414;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    /* font-weight: 400; */
    padding: 0px;
    font-size: 20px;
    line-height: 30px;
    margin-top: 20px;
}

section h5 {
    color: #141414;
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
    font-size: 16px;
    font-weight: 500;
    padding: 0px;
    margin: 0px;
    text-align:left;
    font-weight: normal;
}

section p {
    color: #141414;
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    font-size: 16px;
    padding: 0px;
    text-align: left;
    margin-top:10px;
    margin-bottom:10px;
}


section ul,
ol li {
    color: #141414;
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    font-size: 16px;
    padding: 0px;
    text-align: left;
    margin-top:10px;
    margin-bottom:10px;
}
section ul li {
    color: #141414;
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    font-size: 16px;
    padding: 0px;
    text-align: left;
    margin-top:10px;
    margin-bottom:10px;
}
section ol li {
    color: #141414;
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    font-size: 16px;
    padding: 0px;
    text-align: left;
    margin-top:10px;
    margin-bottom:10px;
}

section a{
    font-weight: bolder;
}

img{
    max-width: 100%;
}

#traderjoespage h5{
    color: #B8322E;
    font-weight: 500; 

}


#addbackground1 h4{
    display: block;
    padding: 20px 20px 10px;
}

#jumplinks{
    /* background-color: #B8322E; */
    background-color: transparent;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
     
}


#jumplinks p{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    /* padding-left: 20px;
    padding-right: 20px; */
    /* color:#fff; */
    margin-top: 13px;
    min-width:175px;
    /* min-width:800px; */
    
}

#traderjoespage #jumplinks a {
    
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    color:#fff;
    background-color: #B8322E;
    padding: 20px 24px;
    min-width: 120px;
    flex: 1;
}

#oasispage #jumplinks a {
    
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    color:#fff;
    background-color: #244872;
    padding: 20px 24px;
    min-width: 120px;
    flex: 1;
}


#traderjoespage #jumplinks a:hover, #oasispage #jumplinks a:hover{
    background-color: #F8F8F3;
    color: #141414;
}


footer{
    margin-left:20px;
    margin-right: 20px;
    /* margin-top: 50px; */
    margin-top: 100px;
    margin-bottom: 50px;
    
}

#row{
    display: flex;
    gap:10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}


#row img{
    margin:0;
}

footer #row img:hover{
   
    animation: wiggle 3s infinite ease-in-out;
}

@keyframes wiggle {
    0% {transform: rotate(10deg);}
    25% {transform: rotate(-10deg);}
    50% {transform: rotate(10deg);}
    75% {transform: rotate(-10deg);}
    100% {transform: rotate(10deg);}
  }

footer p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding:0;
    line-height: 32px;
    align-items: center;
    margin: 0;

}


footer a{
    text-decoration: none;
}

footer i{
    font-size:30px;
    color:#141414;
}


footer i:hover {
    color: #999999;
}

img {
    display: flex;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#hero {
    max-width: 100%;
    margin: auto;
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;

}

#homehero{
    transition: 0.3s ease;
}

#homehero:hover{
    transition: 0.3s ease;
    transform: scale(1.1);
}

video {
    display: flex;
    margin: auto;
    padding: 0px;
    max-width: 90%;
    height: 300px;
    margin-bottom: 10px;
}

iframe {
    display: flex;
    margin: auto;
    padding: 0px;
    max-width: 50%;
    height: 500px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#travelocity_features img{
    max-width: 50%;
}

#travelocity_features video{
    height:400px;
    
}

#TJfeatures{
    margin-bottom:50px;
}

#TJfeatures img {
    max-width: 70%;
}

#weguidefeatures img {
    max-width: 60%;
}

#addbackground{
    width:100%;
    background-color: #B8322E; 
}

#oasispage #addbackground{
    width:100%;
    background-color: #244872; 
}

#addbackground section{
    padding-top: 50px;
    padding-bottom: 50px;
}

#addbackground h5, #addbackground p, #addbackground h3{
    color: #ffff;
}

#strokediv{
    /* margin-top: 30px;
    margin-left: auto;
    margin-right: auto; */
    margin:auto;
    position:relative;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    /* max-width:450px; */
    max-width: 600px;
    /* align-items: center; */
    /* justify-content: center; */

}

.strokedivp{
    font-size: 16px;
    margin-top:-5px;
}

.stroke1{
    font-family: 'Roboto', sans-serif; 
    font-size: 50px; 
    font-weight: 500;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke: 1px #B8322E;
    position: absolute;
    top: 3px;
    left: -2px;
    z-index: 1;
    
}


.stroke2{
    font-family: 'Roboto', sans-serif; 
    font-size: 50px; 
    font-weight: 500;
    color:rgb(184, 50, 46, .25);
    position: relative;
}

#strokediv2{
    position:relative;
    display: flex;
    gap: 10px;
    font-family: 'Roboto', sans-serif; 
    font-size: 24px;
    align-items: center;
}

h6{
    font-family: 'Roboto', sans-serif; 
    font-size: 24px;
    font-weight: 500;
    margin:0;
}

.stroke3{
    font-family: 'Roboto', sans-serif; 
    font-size: 32px; 
    font-weight: 500;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke: 1px #B8322E;
    width: 100%;
    height: 100%;            
    position: absolute;
    top: 2px;
    left: -3px;
    z-index: 1;
    
}

.stroke4{
    font-family: 'Roboto', sans-serif; 
    font-size: 32px; 
    font-weight: 500;
    color:rgb(184, 50, 46, .25);
    position: relative;
}

#otherprojects{ 
    margin-top:100px;
}

#otherprojects h3{
    text-align: center;
    margin-bottom: 20px;
}

#otherprojects .row4{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-align: center;
    
    
    
}

#otherprojects .row4 a{
    text-decoration: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #141414;
}

#otherprojects .row4 a:hover{
    color: #999;
}


#otherprojects img{
    max-width: 90%;
    margin-bottom: 20px; 
    transition: 0.3s ease;
    
    
}

#otherprojects img:hover{
    transition: 0.3s ease;
    transform: scale(1.1);
}

.row2 {

    max-width: 90%;
    margin: 20px 0;
    display: grid;
    grid-template-columns: .75fr 2fr;
}

.row2-1{
    display: flex;
    gap:10px;
    margin: auto;
    
}

.row2-1{
    justify-content: center;
    
}

.row2 div p{
    margin:0;
}

.row2 h4{
    margin:0;
}

.row3{
    margin:20px 0 50px 0;
    gap: 50px;
    /* display: grid;
    grid-template-columns: .8fr 1fr; */
    align-items: center; 
}

.row3 img{
    margin:0;
    
}




.row5 {
    max-width: 100%;
    margin: 20px 0;
    
    /* display: grid;
    grid-template-columns: 1fr 2fr; */
}

.row5-1{
    
    display: flex;
    gap:10px;
}

.row5 h4{
    margin-top:10px;
}




#myBtn {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 10;
    color: #141414;
    cursor: pointer;
    border: 0px;

    background-color: transparent;
  }
  
  #myBtn img{
    margin: 0;
    background-color: none;
  }

  #myBtn:hover {
    transform: scale(1.1);
  }

  /* #cindycircle img{
    transform: rotate(-98deg)  scaleX(-1);
  } */


  /* #aboutpage section, #abouttop section{
    padding-bottom: 50px;
    width: 90%;
    margin: auto;
  } */


  #aboutpage section{
    padding-bottom: 50px;
    /* width: 90%;
    margin: auto; */
    /* margin: auto;
    margin-left:20px;
    margin-right: 20px;
    margin-bottom:50px;
    margin-top: 0px; */

  }

  #aboutpage p{
    margin-bottom: 20px;
  }

  #aboutpage h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding: 0px;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 20px;
    margin-top:0;
  }

  #aboutpage h4{
    margin-top: 0;
  }

  #abouttop{
    margin-left:0;
    margin-right: 0;
  }

  #abouttext section{
    width: 100%;
    /* background-color: pink; */
  }

  /* #cindycircle img{
    transform: rotate(-98deg)  scaleX(-1);
    min-width: 300px;
    
    margin:auto;
    
    
} */

#abouttop{
    width: 100%;
    background-color: rgb(	93, 171, 239, 0.1); 
}

#abouttop section{
    /* margin-bottom: 50px; */
    margin-bottom: 0;
    padding-top:50px;
    padding-bottom:0;

    margin-bottom: 50px;
        /* width:80%; */
        max-width:1000px;
        margin-left: auto;
        margin-right: auto;

            
        padding-top:50px;
        padding-bottom: 50px;
    
    
}



#abouttext{
    width:90%;
    margin:auto;
    padding-top:100px;
    /* padding-bottom: 100px; */
    display: block;
    /* gap: 60px;
    align-items: center;  */
    padding-top:50px;
    padding-bottom:50px;
    width:90%;
    margin:auto;
    margin-bottom:100px;
}

#abouttext h1{
    font-size: 40px; 
    font-family: 'Roboto', sans-serif; 
    font-weight: 400; 
    margin-bottom:20px; 
    line-height: 50px;
}

#abouttext p{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 32px;
}
.experience, .experience2{
    padding-top:50px;
    padding-bottom:50px;
    width:90%;
    margin:auto;
    margin-bottom:100px;
}

.experience h3{
    margin-bottom: 30px;
    
}

.experience p{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 30px;

}

.experience p:last-of-type{
    margin-bottom: 0px;

}

#experiencediv p{
    margin-bottom:0px;
    margin-top:5px;
}

#experiencediv{
    margin-bottom: 30px;
}

#experiencediv:last-child{
    margin-bottom: 0;
}

.experience img{
    margin-top:30px;
    margin-bottom:0;
}

#hobbytitle{
    display: flex;
    gap: 15px;
}

a{
    color: #141414;
    text-decoration: none;
}

a:hover{
    color: #999;
}

/* #inspo{
    display: block;
    grid-template-columns: none;
    gap: 0;
    
    
} */

#inspo img{
    width:100%;
    margin-bottom:10px;
}

#inspo h6{
    font-size: 20px;
}

#inspo p{
    margin-top: 5px;
    font-size: 18px;
    color: #767676;
    font-weight: 400;
}


  /* @media only screen and (min-width: 601px) and (max-width: 799px){
    
    #TJfeatures{
        background-color: pink;
        display: block;
        padding: 0px;
        align-items:flex-start;
        margin: auto;
        padding-top:20px;
        padding-bottom:20px;
        gap:0px;
    }

    #TJfeatures img{
        max-width: 0%;
    }
} */
/* DESKTOP VERSION CSS */


@media only screen and (min-width: 800px) {

    img{
        max-width: 100%;

    }

    body{
        margin:0px;
        /* margin-bottom: 50px; */
        margin-bottom: 30px;
    }

    #hamburger {
        visibility: hidden;
    }
    #nav_mobile {
        display: none;
    }
    #nav_desktop {
        margin: auto;
        display: block;
    }

    #logo1{
        font-size: 30px;
        font-family: 'Roboto', sans-serif;
        margin: 0px;
        padding: 0px;
        text-align: left;
        color: #141414;
        background-color: #fff;
        border-bottom: none;
        line-height: 40px;
        /* font-weight: 500; */
        font-weight: 400;
        display:inline-block;

    }

    #logo1:hover{
        color: #999999;
    }
    
    #nav_desktop header {
        margin: 0px;
        /* padding: 30px 100px; */
        padding: 30px 50px;
    }
    
    #nav_desktop nav {
        margin: 0px;
        position: absolute;
        right: 50px;
        top: 40px;
    }
    #nav_desktop nav ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: right;
        gap: 50px;
        margin: 0;
        padding: 0;
        
    }

    #nav_desktop nav ul li a {
        text-decoration: none;
        color: #999999;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 20px;
        
        
    }
    #home #button1 {
        text-decoration: none;
        color: #5D93EF;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        
    }

    #nav_desktop nav ul li a:hover {
        color: #767676;
    }
    #intro {
        /* padding-top: 110px; */
        /* padding-top: 150px;
        padding-bottom: 0px; */
        /* max-width: 60%; */
        /* padding-top: 50px; */
        padding-top: 30px;
        text-align: center;
        margin: auto;
        display: flex;
        flex-direction: column;
        
    }
    #intro img {
        padding-top:0px;
        padding-bottom: 10px;
    }

    #intro p {
        /* max-width: 56%; */
        max-width: 1000px;
        /* font-size: 30px; */
        font-size: 28px;
        font-family: 'Roboto', sans-serif;
        line-height: 40px;
        letter-spacing: 0.05em;
        font-weight: 400;
        margin-left: auto;
        margin-right: auto;
        /* margin-top:30px;
        margin-bottom:24px; */
        margin-top:20px;
        margin-bottom:15px;
        padding: 0;
    }

    #home h1 {
        /* font-size: 100px; */
        font-size: 90px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        font-weight: 400;
        margin:0;
    }

    #designdavis p{
        font-size: 24px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        font-weight: 400;
        color: #999999;
        margin:auto;
        
    }

    #downarrow{
        /* margin-top: 50px; */
        margin-top: 80px;
        text-align: center;
        margin-left:auto;
        margin-right:auto;
        
    }

    #downarrow a{
        text-decoration: none;
    }

    #downarrow p{
        font-size: 20px;
        margin:0;
        letter-spacing: 0;
        color: #5D93EF;
    }

    #downarrow i{
        font-size: 20px;
        color: #5D93EF;
    }

    #downarrow:hover{
        transform: scale(1.1);
    }


    #home #traderjoes, #library,
    #travelocity,#weguide, #playground{
        display:flex;
        text-align: center;
        gap:10%;
        padding-bottom:50px;
        
    }
    
    #homehero{
        
        display: block;
        padding: 0px;
        align-self: center;
        transition: 0.3s ease;
    }

    #homehero:hover{
        transition: 0.3s ease;
        transform: scale(1.1);
    }

    /* #casestudiessection{
        width:65%;
    } */

    #casestudiessection{
        margin-bottom: 50px;
        /* width:100%; */
        max-width:1000px;
        margin-left: auto;
        margin-right: auto;
    
        
    }


    #casestudies img {
        /* max-width: none; */
        margin: auto;
        padding-top: 50px;
        padding-bottom: 30px;
        height: auto;
        width: 30vw;
        margin: auto;
        max-width: 1000px;
    }

    #traderjoesa, #weguidea, #travelocitya, #librarya, #playgrounda{
        align-self: center;
        
    }

    #casestudya{
        text-align: left;
        color: #222222;
        font-family: 'Roboto', sans-serif;
        font-size: 40px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 15px;
        text-decoration: none;
        font-weight: 500;
        line-height: 40px;
        display: block;
        
    }

    /* #playground a{
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: 600;
        display: inline-block;
    } */

    #casestudies a:hover {
        color: #999;
    }
    #casestudies p {
        text-align: left;
        color: #141414;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        margin: 0px;
        line-height: 32px;
        font-weight: 400;
    }

    #vp a{
        display: inline-block;
        font-size: 16px;
        margin:0;
        text-align: left;
        letter-spacing: 0.02em;
        font-family: 'Open Sans', sans-serif;
        color:#5D93EF;
        font-weight: 700;
        
    }  

    #vp a:hover{
        color: #999;;
    }

   

    a:hover {
        color: #999999;
    }
    
    #about #button2 {
        text-decoration: none;
        color: #5D93EF;
        text-align: center;
        
    }


    #mainbody{
        margin-left: auto;
        margin-right: auto;
        width:100%;
    }

    section img{
        margin-bottom: 20px;
    }

    #jumplinks{
        /* background-color: #B8322E; */
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin:0;
        margin-bottom:50px;
        
        
    }

    #traderjoespage #jumplinks{
        background-color: #B8322E;
    }

    #oasispage #jumplinks{
        background-color: #244872;
    }

    #jumplinks p{
        padding-left: 20px;
        padding-right: 20px;
        color:#fff;
        margin-top: 20px;
        
    }

    #traderjoespage section{
        margin-bottom: 50px;
        max-width:800px;
        margin-left: auto;
        margin-right: auto;
    }

      
    #traderjoespage #jumplinks a {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        text-align: center;
        text-decoration: none;
        color:#fff;
        background-color: #B8322E;
        padding: 20px 24px;
    }


    #traderjoespage #jumplinks a:hover, #oasispage #jumplinks a:hover{
        background-color: #F8F8F3;
        color: #141414;
    }


    /* section{
        margin-bottom: 50px;
        width:60%;
        margin-left: auto;
        margin-right: auto;
        
    } */

    /* section{
        margin-bottom: 50px;
        width:80%;
        max-width:1000px;
        margin-left: auto;
        margin-right: auto;
    } */

    /* section{
        margin-bottom: 50px;
        width:100%;
        max-width:1000px;
        margin-left: auto;
        margin-right: auto;
        
    } */

    section h2 {
        padding: 0px;
        margin: 0px;
    }

    section h3 {
        text-align: left;
        color: #141414;
        margin: 0px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        /* font-weight: 400; */
        padding: 0px;
        font-size: 32px;
        line-height: 40px;
    }

    section h4 {
        text-align: left;
        color: #141414;
        margin: 0px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        /* font-weight: 400; */
        padding: 0px;
        font-size: 20px;
        line-height: 30px;
        margin-top: 20px;
    }

    section h5 {
        color: #141414;
        font-family: 'Roboto', sans-serif;
        line-height: 30px;
        font-size: 16px;
        font-weight: 500;
        padding: 0px;
        margin: 0px;
        text-align:left;
        font-weight: normal;
    }

    section p {
        color: #141414;
        font-family: 'Open Sans', sans-serif;
        line-height: 30px;
        font-size: 16px;
        padding: 0px;
        text-align: left;
        margin-top:10px;
        margin-bottom:10px;
    }
    

    section ul,
    ol li {
        color: #141414;
        font-family: 'Open Sans', sans-serif;
        line-height: 30px;
        font-size: 16px;
        padding: 0px;
        text-align: left;
        margin-top:10px;
        margin-bottom:10px;
    }
    section ul li {
        color: #141414;
        font-family: 'Open Sans', sans-serif;
        line-height: 30px;
        font-size: 16px;
        padding: 0px;
        text-align: left;
        margin-top:10px;
        margin-bottom:10px;
    }
    section ol li {
        color: #141414;
        font-family: 'Open Sans', sans-serif;
        line-height: 30px;
        font-size: 16px;
        padding: 0px;
        text-align: left;
        margin-top:10px;
        margin-bottom:10px;
    }
    #hero {
        max-width: 100%;
        margin: auto;
        display: flex;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    #travelocitypage a{
        color:#00477F;
    }

    #travelocitypage a:hover{
        color:#5aa3d6;
    }

    #travelocity_features img{
        max-width: 27%;
    }

    .row {
        max-width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 0.75fr;
        align-items: flex-end;
    }

    #travelocity_features video{
        height:500px;
        
    }

    #weguidefeatures img {
        max-width: 25%;
    }
    
    iframe {
        display: flex;
        margin: auto;
        padding: 0px;
        max-width: 100%;
        height: 500px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    /* section a {
        color: #222222;
        font-family: 'Lato', sans-serif;
        text-decoration: none;
        font-weight: 700;
    } */

    section a {
        font-weight: 700;
        text-decoration: none;
    }
    
    #row{
        display: flex;
        gap:10px;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }

    
    

    footer p {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 500;
        padding:0;
        line-height: 32px;
        align-items: center;
        margin: 0;
        

    }

    #otherprojects{ 
        margin-top:100px;
    }

    #otherprojects h3{
        text-align: center;
        margin-bottom: 20px;
    }

    #otherprojects .row4{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        text-align: center;
        
        
        
    }

    #otherprojects .row4 a{
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        font-weight: 500;
        color: #141414;
    }

    #otherprojects .row4 a:hover{
        color: #999;
    }


    #otherprojects img{
        max-width: 60%;
        margin-bottom: 20px; 
        transition: 0.3s ease;
        
        
    }

    #otherprojects img:hover{
        transition: 0.3s ease;
        transform: scale(1.1);
    }
    


    #infobar{
        display: flex;
        flex-direction:row;
        justify-content: space-between; 
        
    }

    #infobar p{
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: left;
    }

    #infobarTJ{
        display:grid;
        grid-template-columns: 1fr 1.3fr 1fr 0.6fr;
        gap:40px;
        margin-top: -40px;
        margin-bottom: -20px;
    }

    #userpersona{
        display: flex;
        flex-direction:row;
    }

    html{
        scroll-behavior: smooth;
    }

    #twoimages{
        display: flex;
        max-width: 50%;
        max-height: 100%;
        gap:20px;
        
    }

    #traderjoespage h5{
        color: #B8322E;
        font-weight: 500; 

    }

    #oasispage h5{
        color: #244872;
        font-weight: 500; 

    }

    #TJfeatures {
        display: flex;
        flex-direction: row;
        padding: 0px;
        align-items: center;
        margin: auto;
        max-width: 900px;
        padding-top:50px;
        padding-bottom:50px;
        gap:100px;
    }

    #TJfeatures img {
        max-width: 30%;
    }

    #TJpainpoints {
        display:grid;
        grid-template-columns: 0.05fr 0.5fr 3fr;
        gap:50px;
    }

    #Travelocity_painpoints{
        display:grid;
        grid-template-columns: 0.05fr 0.7fr 3fr;
        gap:50px;
    }

    #oasispainpoints {
        display:grid;
        grid-template-columns: 0.05fr 1.5fr 3fr;
        gap:50px;
    }

    #addbackground{
        width:100%;
        background-color: #B8322E; 
    }

    /* #addbackground section{
        padding-top: 50px;
        padding-bottom: 50px;
    } */

    /* #addbackground div{
        margin-bottom: 50px;
        max-width:800px;
        margin-left: auto;
        margin-right: auto;
    } */

    #addbackground h5, #addbackground p, #addbackground h3{
        color: #ffff;
    }

    #strokediv{
        /* margin-top: 30px;
        margin-left: auto;
        margin-right: auto; */

        margin:auto;
        
        position:relative;
        display: flex;
        gap: 20px;
        font-family: 'Open Sans', sans-serif;
        /* font-size: 30px; */
        /* max-width:450px; */
        max-width: 600px;
        align-items: center;
        /* justify-content: center; */
        justify-content: flex-start;
        

    }

    .strokedivp{
        font-size: 20px;
        margin-top: 10px;
    }

    .stroke1{
        display: block;
        font-family: 'Roboto', sans-serif; 
        font-size: 60px; 
        font-weight: 500;
        -webkit-text-fill-color: #fff;
        -webkit-text-stroke: 1.5px #B8322E;
        position: absolute;
        top: 13px;
        left: -2px;
        z-index: 1;
    
        
    }

    .stroke2{
        font-family: 'Roboto', sans-serif; 
        font-size: 60px; 
        font-weight: 500;
        color:rgb(184, 50, 46, .25);
        /* position: relative; */
    }

    #strokediv2{
        position:relative;
        display: flex;
        gap: 10px;
        font-family: 'Roboto', sans-serif; 
        font-size: 24px;
        /* align-items: center; */
    }

    h6{
        font-family: 'Roboto', sans-serif; 
        font-size: 24px;
        font-weight: 500;
        /* font-weight: 400; */
        margin:0;
    }

    .stroke3{
        font-family: 'Roboto', sans-serif; 
        font-size: 32px; 
        font-weight: 500;
        -webkit-text-fill-color: #fff;
        -webkit-text-stroke: 1.5px #B8322E;
        width: 100%;
        height: 100%;            
        position: absolute;
        top: 2px;
        left: -3px;
        z-index: 1; 
    }

    #oasispage .stroke3{
        -webkit-text-stroke: 1.5px #244872;
    }

    .stroke4{
        font-family: 'Roboto', sans-serif; 
        font-size: 32px; 
        font-weight: 500;
        color:rgb(184, 50, 46, .25);
        position: relative;
    }

    #oasispage .stroke4{
        color:rgb(36, 72, 114, .25);
    }

    .row2 {

        max-width: 90%;
        margin: 20px 0;
        display: grid;
        grid-template-columns: .75fr 2fr;
    }

    .row2-1{
        display: flex;
        gap:10px;
        margin: auto;  
    }

    .row2 div p{
        margin:0;
    }

    .row2 h4{
        margin:0;
    }

    .row3{
        margin:20px 0 50px 0;
        gap: 50px;
        display: grid;
        grid-template-columns: .8fr 1fr;
        align-items: center; 
    }

    .row3 img{
        margin:0;
    }

    .row5 {
        max-width: 100%;
        margin: 20px 0;
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .row5-1{
        
        display: flex;
        gap:20px;
    }

    .row5 h4{
        margin-top:10px;
    }

    #myBtn {
        display: none;
        position: fixed;
        bottom: 30px;
        right: 30px;
        z-index: 10;
        color: #141414;
        cursor: pointer;
        border: 0px;
        background-color: transparent;
      }
      
    #myBtn img{
        margin: 0;
        /* background-color: none; */
        padding: 10px;
        padding-bottom:11px;
        background-color: #fff;
        border-radius: 200px;
    }

    #myBtn:hover {
        transform: scale(1.1);
    }

    #hifi1 div{
        margin-bottom:50px;
    }


    #cindycircle img{
        /* transform: rotate(-98deg)  scaleX(-1); */
        min-width: 300px;
        margin: 0;
        
    }

    #aboutpage section{
        /* padding-bottom: 0;
        margin-top: 100px;
        margin-bottom: 100px;
        margin-top:0; */
        padding-top: 50px;
        margin-bottom: 50px;
        width:80%;
        max-width:1000px;
        margin-left: auto;
        margin-right: auto;
    }

    #abouttop{
        width:100%;
        background-color: rgb(	93, 171, 239, 0.1);  
    }

    /* #abouttop section{
        padding-top:50px;
       
    } */

    /* #abouttext{
        width:60%;
        margin:auto;
        padding-top:100px;
        padding-bottom: 100px;
        display: flex;
        gap: 60px;
        align-items: center; 
    } */

    #abouttext{
        margin-bottom: 50px;
        width:80%;
        max-width:1000px;
        margin-left: auto;
        margin-right: auto;
        padding-top:100px;
        padding-bottom: 100px;
        display: flex;
        gap: 60px;
        align-items: center; 
    }

    #abouttext h1{
        font-size: 40px; 
        font-family: 'Roboto', sans-serif; 
        font-weight: 400; 
        margin-bottom:20px; 
        line-height: 50px;
    }

    #abouttext p{
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        line-height: 32px;
    }

    .experience{
        display: flex;
        /* align-items: flex-end; */
        align-items: center;

        margin-bottom: 50px;
        width:80%;
        max-width:1000px;
        margin-left: auto;
        margin-right: auto;

            
        padding-top:50px;
        padding-bottom: 50px;



    }

    .experience img{
        margin:0;
        width:100%;
        
    }

    #experiencediv p{
        margin-bottom:0px;
        margin-top:5px;
    }

    #experiencediv{
        margin-bottom: 30px;
    }

    #experiencediv:last-child{
        margin-bottom: 0;
    }
    
    .experience h3{
        margin-bottom: 30px;
        font-family: 'Roboto', sans-serif;
    font-weight: 500;

    padding: 0px;
    font-size: 32px;
    line-height: 40px;
        
    }

    .experience p, .experience2 p{
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        line-height: 24px;
        font-weight: 500;
        margin-bottom: 30px;

    }

    .experience2{
        margin-bottom: 50px;
        max-width:1000px;
        margin-left: auto;
        margin-right: auto;
        padding-top:50px;
        padding-bottom: 50px;
        width:80%;
    }

    .experience2 h3{
        margin-top:0;
    }



    /* .experience p:last-of-type{
        margin-bottom: 0px;

    } */

    #aboutpage p:last-of-type{
        margin-bottom: 0px;
    }

    #hobby{
        /* margin-top: 10px; */
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px 40px;
    }

    #hobbytitle{
        display: flex;
        gap: 15px;
    }

    a{
        color: #141414;
        text-decoration: none;
    }

    a:hover{
        color: #999;
    }

    #inspo{
        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        /* gap: 50px; */
        gap: 5%;
    }

    #inspo img{
        margin:0;
        margin-bottom: 20px;
    }

    #inspo h6{
        font-size: 20px;
        font-weight: 500;
    }

    #inspo p{
        margin-top: 5px;
        margin-bottom:0;
        font-size: 18px;
        color: #767676;
        font-weight: 400;
    }



   
}



/* @media only screen and (min-width: 800px) and (max-width:1040px){

    #cindycircle img{
        margin: auto;
        display: block;
        margin-bottom: 30px;
        
    }
    

    #abouttext{
        
        width:60%;
        margin:auto;
        padding-top:100px;
        padding-bottom: 100px;
        display: block;
        gap: 60px;
        align-items: center; 
    }

} */