/* MOBILE VERSION CSS */

section {
    margin: auto;
    margin-left:20px;
    margin-right: 20px;
    margin-bottom:0px;
    margin-top: 0px;
}

#nav_desktop {
    display: none;
}

#nav_mobile header {
    background-color: #fefefe;
}

#nav_mobile #hamburger {
    position: absolute;
    top: 50px;
    right: 20px;
    width: 50px;
    top: 29px;
    max-width: 10%;
}

#nav_mobile nav ul {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
    background-color: #fefefe;
}

.hidden {
    right: 5000px;
}

.showing {
    right: 20px;
    top: 106px;
}

#nav_mobile nav li a {
    text-decoration: none;
    display: block;
    padding: 20px 142px;
    font-family: 'Lato';
    font-weight: bold;
    color: #222222;
    text-align: center;
    border: none;
}

#nav_mobile nav a:hover {
    color: #C4C4C4;
}

#logo1,
#logo2 {
    color: #222222;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    margin: 0px;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-decoration: none;
    text-align: center;
    display: block;
    border: none;
}

#travelocitypost #logo1,
#logo2 {
    background-color: #F5F5F5;
}

#librarypost #logo1,
#logo2 {
    background-color: #F5F5F5;
}

#intro {
    background-color: #F5F5F5;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#intro img {
    max-width: 50%;
    margin: auto;
}

#home h1 {
    text-align: center;
    color: #222222;
    margin: 0px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    padding-top: 20px;
}

#intro p {
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    color: #222222;
    font-family: 'Poppins', sans-serif;
    line-height: 120%;
}

#casestudies img {
    max-width: 100%;
    margin: auto;
    padding-bottom: 20px;
}

#casestudies {
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width:350px;
    /* padding-top:50px; */
    padding-bottom: 50px;
    gap: 50px;
}

#casestudies a {
    color: #222222;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    align-items: left;
    text-decoration: none;
    font-weight: bold;
}

#casestudies a:hover {
    color: #C4C4C4;
}

#casestudies p {
    text-align: left;
    color: #222222;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 130%;
    margin: 0px;
    padding-top: 10px;
}

footer {
    text-align: center;
    background-color: #F5F5F5;
    margin: 0px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer p {
    margin: 0px;
    padding: 10px;
    font-family: 'Lato', sans-serif;
}

footer a {
    text-decoration: none;
    color: #222222;
}

a:hover {
    color: #C4C4C4;
}

#aboutintro h1 {
    text-align: left;
    color: #222222;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    padding: 0px;
    font-size: 30px;
    max-width: 600px;
}

#aboutintro p {
    color: #222222;
    font-family: 'Poppins', sans-serif;
    line-height: 150%;
    max-width: 600px;
}

#aboutintro {
    padding: 50px 20px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

#aboutintro img {
    max-width: 70%;
    /* padding-left: 20px;
    padding-right: 20px; */
    margin: auto;
    padding-top: 20px;
}

section {
    padding-bottom: 50px;
    padding-top: 50px;
}

section h2 {
    padding-top: 20px;
    text-align: left;
    color: #222222;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    padding: 0px;
    /* padding-left: 20px;
    padding-right: 20px; */
    font-size: 30px;
}

section h3 {
    text-align: left;
    color: #222222;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    padding: 0px;
    font-size: 20px;
    padding-top: 10px;
    /* padding-left: 20px;
    padding-right: 20px; */
    /* text-decoration: underline; */
}

section h4 {
    text-align: left;
    color: #222222;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    padding: 0px;
    font-size: 15px;
    padding-top: 20px;
    /* padding-left: 20px;
    padding-right: 20px; */
}

section h5 {
    text-align: center;
    color: #222222;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    padding: 0px;
    font-size: 10px;
    padding-top: 0px;
    /* padding-left: 20px;
    padding-right: 20px; */
}

section p {
    /* padding-left: 20px;
    padding-right: 20px; */
    color: #222222;
    font-family: 'Lato', sans-serif;
    line-height: 150%;
    font-size: 17px;
    /* text-align: justify; */
    font-weight: normal;
    margin-top:10px;
    margin-bottom:10px;
}

section ul li {
    font-weight: normal;
    color: #222222;
    font-family: 'Lato', sans-serif;
    line-height: 170%;
    font-size: 17px;
    /* text-align: justify; */
    padding-left: 5px;
    padding-right: 20px;
}

section ol li {
    font-weight: normal;
    color: #222222;
    font-family: 'Lato', sans-serif;
    line-height: 170%;
    font-size: 17px;
    /* text-align: justify; */
    padding-left: 10px;
    padding-right: 20px;
}

#hero {
    max-width: 100%;
}

img {
    max-width: 100%;
    display: flex;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

video {
    display: flex;
    margin: auto;
    padding: 0px;
    max-width: 90%;
    height: 300px;
    margin-bottom: 10px;
}

iframe {
    display: flex;
    margin: auto;
    padding: 0px;
    max-width: 50%;
    height: 500px;
    margin-bottom: 20px;
    margin-top: 20px;
}

section a {
    color: #222222;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    font-weight: 700;
}

#connecticon i {
    margin-top: 20px;
    color: #222222;
    margin-left: 20px;
    font-size: 200%;
}

#connecticon {
    display: flex;
    flex-direction: row;
}

#connecticon i:hover {
    color: #C4C4C4;
}

#deskflight2{
    width: 50%;
    margin:auto;
}

#deskaccom2{
    width: 50%;
    margin: auto;
}

#deskattract2{
    width: 50%;
    margin: auto;
}

#singlegif{
    width: 40%;
    margin: auto;
}

#filter1{
    margin:auto;
    width:50%;
}

#filter2{
    margin:auto;
    width: 50%;
}

#infobar p{
    margin-top:5px;
    margin-bottom:5px;
}

#TJfeatures {
    display: flex;
    flex-direction: row;
    padding: 0px;
    align-items:flex-start;
    margin: auto;
    max-width: 900px;
    padding-top:20px;
    padding-bottom:20px;
    gap:20px;
}

#TJfeatures img {
    max-width: 40%;
}
 


/* DESKTOP VERSION CSS */

@media only screen and (min-width: 600px) {
    body{
        margin:0px;
    }
    #hamburger {
        visibility: hidden;
    }
    #nav_mobile {
        display: none;
    }
    #nav_desktop {
        margin: auto;
        display: block;
    }
    #logo1,
    #logo2 {
        font-size: 40px;
        font-family: 'Lato', sans-serif;
        margin: 0px;
        padding: 0px;
        text-align: left;
    }
    #logo1:hover,
    #logo2:hover {
        color: #C4C4C4;
    }
    #nav_desktop header {
        background-color: #F5F5F5;
        margin: 0px;
        padding: 30px 50px;
    }
    #home h1 {
        padding: 20px;
        font-size: 50px;
        margin: 0px;
        font-weight: bolder;
    }
    #nav_desktop nav {
        margin: 0px;
        position: absolute;
        right: 50px;
        top: 22px;
    }
    #nav_desktop nav ul {
        list-style-type: none;
        font-size: 20px;
        font-weight: bold;
        display: flex;
        flex-direction: row;
        justify-content: right;
        gap: 50px;
    }
    #nav_desktop nav ul li a {
        text-decoration: none;
        color: #222222;
        text-align: center;
        font-family: 'Lato', sans-serif;
    }
    #home #button1 {
        text-decoration: none;
        color: #888888;
        text-align: center;
        font-family: 'Lato', sans-serif;
    }
    #nav_desktop nav ul li a:hover {
        color: #C4C4C4;
    }
    #intro {
        padding-top: 50px;
        padding-bottom: 100px;
    }
    #intro img {
        max-width: 20%;
        padding-bottom: 10px;
    }
    #intro p {
        max-width: 600px;
        text-align: center;
        color: #222222;
        font-family: 'Poppins', sans-serif;
        line-height: 120%;
        font-size: 20px;
        margin: auto;
    }

    #casestudies img{
        padding-bottom: 0px;
    }

    #home #traderjoes, #library,
    #travelocity,#weguide {
        display: flex;
        flex-direction: row;
        gap: 50px;
        padding: 0px;
    }
    
    #homehero{
        display: block;
        max-width: 50%;
        margin: auto;
        padding: 0px;
    }
    #casestudies {
        margin: auto;
        max-width: 1000px;
        padding-top:100px;
        padding-bottom:100px;
    }
    
    #traderjoesa a, #weguidea a, #travelocitya a, #librarya a{
        text-align: left;
        color: #222222;
        font-family: 'Lato', sans-serif;
        font-size: 25px;
        margin: 0px;
        margin-bottom: 10px;
        text-decoration: none;
        font-weight: 700;
        display: block;
    }
    #casestudies a:hover {
        color: #C4C4C4;
    }
    #casestudies p {
        text-align: left;
        color: #888888;
        font-family: 'Lato', sans-serif;
        font-size: 20px;
        margin: 0px;
        line-height: 130%;
        font-weight: 300;
    }

    a:hover {
        color: #C4C4C4;
    }
    #about #button2 {
        text-decoration: none;
        color: #888888;
        text-align: center;
        font-family: 'Lato', sans-serif;
    }
    
    #aboutintro {
        padding-top: 50px;
        background-color: #F5F5F5;
    }
    #aboutintro2 {
        display: flex;
        flex-direction: row;
        gap: 100px;
        width: 1000px;
        margin: auto;
    }
    #aboutintro img {
        padding: 0px;
        margin: 0px;
        max-width: 30%;
    }
    #aboutintro h1 {
        text-align: left;
        color: #222222;
        margin: 0px;
        font-family: 'Poppins', sans-serif;
        font-weight: bolder;
        padding: 0px;
        font-size: 40px;
        width: 700px;
    }
    #aboutintro p {
        color: #222222;
        font-family: 'Poppins', sans-serif;
        line-height: 130%;
        font-size: 20px;
        padding: 0px;
        width: 500px;
    }
    section {
        text-align: left;
        color: #222222;
        margin: 0px;
        font-family: 'Poppins', sans-serif;
        font-weight: bolder;
        padding-top: 50px;
        font-size: 30px;
        max-width:1000px;
        margin: auto;
    }
    section h3 {
        text-align: left;
        color: #222222;
        margin: 0px;
        font-family: 'Poppins', sans-serif;
        font-weight: bolder;
        padding: 0px;
        font-size: 30px;
        padding-top: 20px;
        /* text-decoration: underline; */
    }
    section h4 {
        text-align: left;
        color: #222222;
        margin: 0px;
        font-family: 'Poppins', sans-serif;
        font-weight: bolder;
        padding: 0px;
        font-size: 20px;
        padding-top: 20px;
    }

    section h5 {
        color: #222222;
        font-family: 'Lato', sans-serif;
        line-height: 170%;
        font-size: 17px;
        padding: 0px;
        margin: 0px;
        text-align:center;
        font-weight: normal;
    }

    section p {
        color: #222222;
        font-family: 'Lato', sans-serif;
        line-height: 170%;
        font-size: 20px;
        padding: 0px;
        text-align: left;
        margin-top:15px;
        margin-bottom:15px;
    }
    section h2 {
        padding: 0px;
        padding-top: 40px;
        margin: 0px;
    }

    section ul,
    ol li {
        font-weight: normal;
        color: #222222;
        font-family: 'Lato', sans-serif;
        line-height: 170%;
        font-size: 20px;
        text-align: justify;
    }
    section ul li {
        font-weight: normal;
        color: #222222;
        font-family: 'Lato', sans-serif;
        line-height: 170%;
        font-size: 20px;
        text-align: justify;
    }
    section ol li {
        font-weight: normal;
        color: #222222;
        font-family: 'Lato', sans-serif;
        line-height: 170%;
        font-size: 20px;
        text-align: justify;
        padding-left: 10px;
    }
    #hero {
        max-width: 100%;
        margin: auto;
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    img {
        display: flex;
        margin: auto;
        margin-top: 20px;
        width:100%;
    }

    #deskflight2{
        width: 95%;
    }

    #deskaccom1{
        margin:auto;
        width:70%;
    }

    #deskaccom2{
        width: 40%;
    }

    #deskattract1{
        max-width:65%;
    }

    #deskattract2{
        max-width:80%;
    }

    #filter1{
        margin:0px;
        margin-left:150px;
        width:30%;
    }

    #filter2{
        margin:0px;
        margin-left:100px;
        width: 32%;
    }

    #singlegif{
        max-width:25%;
    }


    .row{
        display: flex;
    }

    video {
        display: flex;
        margin: auto;
        padding: 0px;
        max-width: 100%;
        height: 500px;
        margin-bottom: 20px;
    }
    #connecticon i {
        margin-top: 20px;
        color: #222222;
        margin-left: 0px;
        font-size: 150%;
    }
    #connecticon {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    #connecticon i:hover {
        color: #C4C4C4;
    }
    
    iframe {
        display: flex;
        margin: auto;
        padding: 0px;
        max-width: 100%;
        height: 500px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    section a {
        color: #222222;
        font-family: 'Lato', sans-serif;
        text-decoration: none;
        font-weight: 700;
    }

    footer p {
        margin: 0px;
        padding: 20px;
        font-family: 'Lato', sans-serif;
    }

    #infobar{
        display: flex;
        flex-direction:row;
        justify-content: space-between; 
    }

    #infobar p{
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: left;
    }

    #infobarTJ{
        display:grid;
        grid-template-columns: 2fr 1fr 0.75fr 1fr;
        gap:50px;
    }

    #userpersona{
        display: flex;
        flex-direction:row;
    }


    /* html{
        scroll-behavior: smooth;
    }

    .topbutton{
        position: fixed;
        bottom: 100px;
        right: 70px;
        font-size: 30px;
    }

    .fa-chevron-up{
        color:#222222;
        
    }

    .fa-chevron-up:hover{
        color: #C4C4C4;
    } */

    /* #tjquotes{
        display: flex;
        flex-direction:row;

    } */

    /* .grid-container{
        display:grid;
        grid-template-columns: 5fr 1fr;
        align-items: center;
        row-gap:0px;
        
    } */

    #TJfeatures {
        display: flex;
        flex-direction: row;
        padding: 0px;
        align-items: center;
        margin: auto;
        max-width: 900px;
        padding-top:50px;
        padding-bottom:50px;
        gap:100px;
    }

    #TJfeatures img {
        max-width: 30%;
    }

    #TJpainpoints {
        display:grid;
        grid-template-columns: 0.05fr 0.5fr 3fr;
        gap:50px;
    }



   
}